* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
body {
    margin: 0;
    background-image: url('images/bg-mobile.png');
    background-repeat: no-repeat;
    background-size: cover;

    background-size: 100% 100%;
        background-position: bottom;

    min-height: 100vh;
    display: flex;
    align-items: center;
}

.whole-container { 
    max-width: 375px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.first-card {
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: hsl(228, 56%, 26%);
    border-radius: 10px;
    border-top-right-radius: 110px;
    margin-bottom: 1rem;
    padding-left: 3rem;
}

.logo {
    min-height: 50%;
    display: flex;
    align-items: center;
}

.fylo-icons {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    justify-content: flex-start;
    min-height: 45%;
    
}

.fylo-icon-container {
    background-color: hsl(229, 57%, 11%);
    display: grid;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin-right: 1rem;
    padding: .3rem;
}

.second-card {
    position: relative;
    height: 25vh;
    text-align: center;
    background-color: hsl(228, 56%, 26%);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.storage-meter-outer {
    margin: 0 auto;
    background-color: hsl(229, 57%, 11%);
    width: 80%;
    height: 1.3rem;
    border-radius: 15px;
    padding: 0;
    border: 3px solid hsl(229, 57%, 11%);
}

.gradient {
    width: 70%;
    height: 100%;
    border-radius: 15px;
    background-color: magenta;

    background: rgb(34,193,195);
    background: linear-gradient(90deg, hsl(6, 100%, 80%) 0%, hsl(335, 100%, 65%) 100%); 

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.ball {
    width: 12px;
    height: 12px;
    margin-right: 2px;
    border-radius: 50%;
    background-color: white;
}

.storage-meter-numbers {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.pop-up {
    position: absolute;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: white;
    height: 5rem;
    width: 50%;
    border-radius: 10px;
    left: 22%;
    bottom: -22%;
    margin: 0;
}

/*** TYPOGRAPHY ***/

h1 {
    color: hsl(229, 7%, 55%);
    font-size: 1rem;
    font-weight: 400;
    margin-top: -20px;
}

h3,
span {
    color: hsl(243, 100%, 93%);
    font-size: 1rem;
    font-weight: 700;
}

h2 {
    margin: 0;
    font-size: 2.2rem;
    color: hsl(229, 57%, 11%);
}

.pop-up span {
    color: hsl(229, 7%, 55%);
    font-size: 1rem;
    font-weight: 700;
}

/*** MEDIAQUERY ****/

@media (min-width: 675px) {
    body {
        background-image: url('images/bg-desktop.png');
        background-size: 100% 50%;
        background-position: bottom;
        background-color: hsl(229, 57%, 11%);
    }

    .whole-container {
        flex-direction: row;
        align-items: flex-end;
        max-width: 1000px;
        justify-content: space-between;
        align-content: flex-end;
    }

    .first-card {
        width: 35%;
        margin: 0;
    }

    .second-card {
        width: 62%;
        height: 23vh;
    }

    .pop-up {
        width: 28%;
        height: 4rem;
        top: -38px;
        left: unset;
        right: 55px;
    }

    .triangle {
        position: absolute;
        height: 0;
        width: 0;

        border-top: 25px solid transparent;
        border-bottom: 25px solid transparent; 
        border-right:25px solid white; 
        
        right: 0;
        bottom: -23px;
    }

    h1 {
        width: 80%;
        margin: 0 auto .5rem auto;
        text-align: left;
        margin-top: 1rem;
    }

    h3 {
        margin-top: .5rem;
        color: hsl(243, 100%, 93%);
    }
}