:root {
    box-sizing: border-box;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 18px;
    --strong-cyan: hsl(171, 66%, 44%);
    --light-blue: hsl(233, 100%, 69%);
    --Dark-grayish-blue: hsl(210, 10%, 33%);
    --grayish-blue: hsl(201, 11%, 66%);
}

body {
    margin: 0;
    color: var(--Dark-grayish-blue);
}

/*** header ***/
header {
    background-image: url('images/bg-header-desktop.png');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 100% 100%;
    width: 100%;
    text-align: center;
}

.header-logo {
    margin-top: 4rem;
    margin-bottom: 3rem;
}

/*** main ***/
.container {
    max-width: 1440px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.smaller-section {
    max-width: 608px;
    width: 90%;
    width: 100;
    margin: 0 auto;
}

.smaller-section p {
    font-size: .88rem
}

.download-area-one {
    margin-bottom: 5rem;
}

.download-area-one p {
    margin-bottom: 2rem;
}

.section-one {
    display: flex;
    justify-content: space-around;
    margin-bottom: 8rem;
}

.image-container {
    width: 60%;
}

.section-one-section {
    width: 30%;
}

.section-one-text {
    text-align: left;
    margin-bottom: 3em;
}

.section-two {
    margin-bottom: 1.5rem;
}

.section-two p {
    margin-bottom: 5rem;
}

.image-section {
    width: 75%;
    margin: 0 auto;
}

.section-three {
    display: flex;
    flex-direction: column;
    margin-bottom: 2.5rem;
}

.section-three-section {
    display: flex;
    justify-content: space-between;
}

.section-three div:first-child {
    margin-bottom: 3rem;
}

.section-three-text {
    width: 31%;
    font-size: .8rem;
}

.section-three-text p {
    font-size: .9rem;
}

.section-three-images {
    height: 35px;
}

.partners-container {
    margin-bottom: 6rem;
    display: flex;
    justify-content: space-between;
}

.download-area-two {
    margin-bottom: 5rem;
}

.download-area-two p {
    margin-bottom: 2.5rem;
}

/*** images ***/

.pictures {
    width: 90%;
}

/*** buttons ***/

.buttons {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: white;
}

button {
    border: 0;
    height: 3em;
    width: 40%;
    border-radius: 50px;
    font-weight: 400;
    font-size: 1rem;
    font-weight: 400;
}

.ios-button {
    background-color: var(--strong-cyan);
}

.mac-button {
    background-color: var(--light-blue);
    margin-left: .5rem;
}

.ios-button:hover,
.ios-button:focus,
.mac-button:hover,
.mac-button:focus  {
    opacity: 75%;
}

/*** Footer ***/

footer {
    background-color: hsl(197, 16%, 91%);
    text-align: left;

    display: grid;
    grid-template-columns: auto 60% auto;
}

.footer-logo {
    scale: .5;
    margin-left: 6em;
}

ul {
    width: 60%;
    list-style: none;
    padding: 0;
    margin-top: 1.5em;

    display: grid;
    grid-template-columns: 30% 30% 30%;
}

ul li {
    margin-bottom: 1.25rem;
}

li a {
    color: hsl(210, 10%, 33%);
}

li a:hover,
li a:hover {
    color: var(--strong-cyan);
}

.social-section {
    display: flex;
    height: 3rem;
    align-self: center;
}

.social-section a:first-child {
    margin-right: 1em;
}

.social-section a:last-child {
    margin-left: 1em;
}

.filter-cyan:hover,
.filter-cyan:focus {
    filter: invert(62%) sepia(79%) saturate(396%) hue-rotate(121deg) brightness(84%) contrast(90%);
}

/*** Mediaquery ***/

@media (max-width: 905px) {
    .partners-container {
        flex-direction: column;
    }

    .partners-image {
        margin-bottom: 3em;
    }

    .section-one {
        flex-direction: column;
    }

    .image-container {
        width: 100%;
    }

    .section-one-section {
        
        width: 100%;
    }
    
    .section-one-text {
        text-align: center;
    }
}

@media (max-width: 675px) {
    header {
        background-image: url('images/bg-header-mobile.png');
        background-size: cover;
        background-position: right;
    }

    header img {
        margin-bottom: 3rem;
    }

    .container {
        max-width: 675px;
    }

    .smaller-section {
        width: 99%;
    }

    .image-section {
        width: 100%;
    }

    .section-three-section {
        flex-direction: column;
    }

    .section-three-text {
        width: 100%;
        margin-bottom: 3rem;
    }

    .buttons {
        flex-direction: column;
        text-align: center;
    }

    .mac-button {
        margin-left: 0;
        margin: 0 auto;
        margin-top: 1rem;
    }

    button {
        width: 100%;
        margin: 0 auto;
    }

    .download-area-two {
        margin-bottom: 8rem;
    }

    footer {
        grid-template-columns: unset;
        text-align: center;
    }

    .footer-logo {
        margin-left: 0;
    }

    ul {
        width: 100%;
        display: unset;
        height: unset;
        margin-bottom: 2rem;
    }

    .social-section {
        width: 100%;
        justify-content: center;
    }

    .social-section a:first-child {
        margin-right: 1.5em;
    }
    
    .social-section a:last-child {
        margin-left: 1.5em;
    }

}

/*** typography ***/

h1 {
    font-size: 1.9rem;
    font-weight: 600;
    margin-top: 0;
}

p {
    color: var(--grayish-blue);
    font-size: .97rem;
}

h3 {
    font-size: 1.4rem;
}