* {
    font-family: 'Barlow Semi Condensed', sans-serif;
    box-sizing: border-box;
    font-size: 62.8%;
}

body {
    margin: 0;
    height: 100vh;
    background-color: hsl(210, 46%, 95%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    max-width: 1440px;
    width: 90%;
    margin: 2rem auto;
    justify-content: space-between;
}

.row-container {
    display: flex;
    flex-direction: column;
    width: 77%;
    justify-content: space-between;
}

.double-column {
    display: flex;
    justify-content: space-between;
    height: 47.5%;
}

.single {
    width: 20.5%;
}

.profile-picture {
    border-radius: 50%;
    float: left;
    scale: .6;
}

/***** colours ****/
.boxes {
    border-radius: 10px;
    padding: 1.5rem 3rem;
}

.wide {
    width: 67%;
}   

.narrow {
    width: 30%;
}

.daniel {
    background-color: hsl(263, 55%, 52%);
    color: hsl(0, 0%, 100%);
    background-image: url('images/bg-pattern-quotation.svg');
    background-position: right top;
    background-repeat: no-repeat;
}

.jonathan {
    background-color: hsl(217, 19%, 35%);
    color: hsl(0, 0%, 100%);
}

.jeanette {
    background-color: hsl(0, 0%, 100%);
}

.patrick {
    background-color: hsl(219, 29%, 14%);
    color: white;
}

.kira {
    background-color: hsl(0, 0%, 100%);
}

@media (max-width: 675px) {
    body {
        height: unset;
    }

    .container {
        flex-direction: column;
        max-width: 350px;
        width: 90%;
        margin: 5rem auto;
    }

    .row-container {
        width: 100%;
        flex-direction: column;
    }

    .double-column {
        flex-direction: column;
    }

    .boxes,
    .narrow,
    .wide{
        width: 100%;
        margin-bottom: 3rem;
    }
}

@media (max-width: 1200px) and (min-width: 675px) {
    body {
        height: initial;
    }

    .container {
        flex-direction: column;
        max-width: 900px;
        width: 90%;
        margin: 5rem auto;
    }

    .double-column {
        width: 100%;
    }

    .row-container {
        width: 100%;
        flex-direction: column;
    }

    .wide {
        width: 55%;
    }

    .narrow {
        width: 40%;
    }

    .boxes {
        margin-bottom: 3rem;
    }

    .single {
        width: 100%;
    }
}

/**** Typography ******/

.name {
    font-size: 1.3rem;
    color: hsl(0, 0%, 81%);
    font-weight: 600;
    margin-bottom: 0;
}

.verified {
    font-size: 1.3rem;
    margin-top: 0;
    color: hsl(0, 0%, 81%);
    opacity: 70%;
    font-weight: 500;
}

.heading {
    font-size: 2.2rem;
    margin-top: 0;
}

.quoted {
    font-size: 1.5rem;
    color: hsl(0, 0%, 81%);
    opacity: 70%;
}
